<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      EN TEMPORARY overlay for AOT benchmarking on release builds (TEMP-BENCH).
      Debug builds already do this (see src/debug/AndroidManifest.xml). This
      overlay must be REMOVED after benchmarking is done.
      PT Overlay TEMPORÁRIO para benchmark AOT em builds release (TEMP-BENCH).
      Remover após concluir os benchmarks.
    -->
    <application>
        <activity android:name=".compose.BenchmarkActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <profileable android:shell="true"
            tools:replace="android:shell" />
    </application>
</manifest>
